@import '~style/helpers';

.mainArticle {
    .articleTitle {
        font-size: 42pt;
        font-family: cursive;
        text-decoration: underline;
        margin-bottom: 0;
    }
        
    h2 {
        font-size: 16pt;
        font-family: cursive;
    }

    h3 {
        font-size: 14pt;
        font-family: cursive;
    }

    span {
        text-align: justify;
        color: red;
    }
}
